In [25]:
# Importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings # this library is optional. It is used to ignore warnings
warnings.filterwarnings('ignore')
import time

In [39]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [40]:
driver.get("https://www.naukri.com/")

In [41]:
search_field_designation = driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys('Data Scientist')

In [42]:
search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [43]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [44]:
# Declare empty lists to store data
job_title = []
job_location = []
company_name = []
req_experience = []

In [45]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
job_title

['Data Science - Engineering Manager',
 'AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'DATA Scientist with Fraud Analytics Experience',
 'Data Scientist',
 'Data Scientist',
 'Specialist - Data Scientist',
 'Looking For Data Scientist ( Exp in R OR R Shiny)',
 'Data Scientist',
 'Senior Data Scientist']

In [47]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

for i in location_tags:
    location = i.text
    job_location.append(location)
job_location[0:10]

['Noida, Mumbai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [48]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

for i in company_tags:
    company = i.text
    company_name.append(company)
company_name[0:10]

['Paytm',
 'Wipro',
 'Wipro',
 'Concentrix Daksh Services',
 'Applied Materials',
 'Applied Materials',
 'AT and T Global Business Services India P. Ltd.',
 'Evalueserve',
 'Genpact',
 'Walmart']

In [49]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

for i in experience_tags:
    experience = i.text
    req_experience.append(experience)
req_experience[0:10]

['9-13 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '7-10 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '5-7 Yrs',
 '5-9 Yrs']

In [50]:
print(len(job_title), len(job_location), len(company_name), len(req_experience))

10 20 20 20

In [51]:
jobdetails = pd.DataFrame({})
jobdetails['Title'] = job_title[0:10]
jobdetails['Company'] = company_name[0:10]
jobdetails['Experience Required'] = req_experience[0:10]
jobdetails['Location'] = job_location[0:10]

jobdetails

,Title,Company,Experience Required,Location
0,Data Science - Engineering Manager,Paytm,9-13 Yrs,"Noida, Mumbai, Bangalore/Bengaluru"
1,AI Technologist Vacancy,Wipro,6-11 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Job Opening with Wipro For Data Scientist posi...,Wipro,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
3,DATA Scientist with Fraud Analytics Experience,Concentrix Daksh Services,2-4 Yrs,Bangalore/Bengaluru
4,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
5,Data Scientist,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
6,Specialist - Data Scientist,AT and T Global Business Services India P. Ltd.,1-4 Yrs,Bangalore/Bengaluru
7,Looking For Data Scientist ( Exp in R OR R Shiny),Evalueserve,3-7 Yrs,Bangalore/Bengaluru
8,Data Scientist,Genpact,5-7 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru

In [ ]:
driver.close()

In [ ]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
search_field_designation = driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys('Data Scientist')

In [ ]:
search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [ ]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
# Declare empty lists to store data
job_title = []
job_location = []
company_name = []

In [ ]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

for i in title_tags:
    title = i.text
    job_title.append(title)
job_title[0:10]

In [ ]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

for i in location_tags:
    location = i.text
    job_location.append(location)
job_location[0:10]

In [ ]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

for i in company_tags:
    company = i.text
    company_name.append(company)
company_name[0:10]

In [ ]:
print(len(job_title), len(job_location), len(company_name))

In [ ]:
jobdetails = pd.DataFrame({})
jobdetails['Title'] = job_title[0:10]
jobdetails['Company'] = company_name[0:10]
jobdetails['Location'] = job_location[0:10]

jobdetails

In [ ]:
driver.close()

In [ ]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
search_field_designation = driver.find_element_by_class_name("suggestor-input")
search_field_designation.send_keys('Data Scientist')

In [ ]:
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [ ]:
# Add location Filter

location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i").click()

In [ ]:
# Add Salary Filter

salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i").click()

In [ ]:
# Declare empty lists to store data
job_title = []
job_location = []
company_name = []
req_experience = []

In [ ]:
title_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

for i in title_tags:
    title = i.text
    job_title.append(title)
job_title[0:10]

In [ ]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

for i in location_tags:
    location = i.text
    job_location.append(location)
job_location[0:10]

In [ ]:
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

for i in company_tags:
    company = i.text
    company_name.append(company)
company_name[0:10]

In [ ]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

for i in experience_tags:
    experience = i.text
    req_experience.append(experience)
req_experience[0:10]

In [ ]:
print(len(job_title), len(job_location), len(company_name), len(req_experience))

In [ ]:
jobdetails = pd.DataFrame({})
jobdetails['Title'] = job_title[0:10]
jobdetails['Company'] = company_name[0:10]
jobdetails['Experience Required'] = req_experience[0:10]
jobdetails['Location'] = job_location[0:10]

jobdetails

In [ ]:
driver.close()

In [ ]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [ ]:
driver.get("https://www.flipkart.com/")

In [ ]:
random_click = driver.find_element_by_xpath("/html/body/div[2]/div/div/button").click()

search_field_designation = driver.find_element_by_class_name("_3704LK")
search_field_designation.send_keys('sunglasses')

search_button = driver.find_element_by_class_name("_34RNph").click()

In [ ]:
# Declare empty lists to store data
brand_name = []
product_desc = []
price = []
offer = []

In [ ]:
for i in range(0,3):
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    # brand_tags[0:10]
    for i in brand_tags:
        brands = i.text
        brand_name.append(brands)
        next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
brand_name

In [ ]:
desc_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc_tags[0:10]

for i in desc_tags:
    description = i.text
    product_desc.append(description)
product_desc

In [ ]:
price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:10]

for i in price_tags:
    price_ = i.text
    price.append(price_)
price

In [ ]:
offer_tags = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
offer_tags[0:10]

for i in offer_tags:
    offer_ = i.text
    offer.append(offer_)
offer

In [ ]:
print(len(brand_name), len(product_desc), len(price), len(offer))

In [ ]:
product_details = pd.DataFrame({})
product_details['Brand Name'] = brand_name
product_details['Product Description'] = product_desc
product_details['Price'] = price
product_details['Discount Offer'] = offer

product_details

In [ ]:
driver.close()